{% extends "base.html" %}
{% load static %}
{% block content %}
  <body class="nav-fixed bg-light">
    <!-- Top app bar navigation menu-->
    <nav class="top-app-bar navbar navbar-expand navbar-dark bg-dark">
      <div class="container-fluid px-4">
        <!-- Drawer toggle button-->
        <button class="btn btn-lg btn-icon order-1 order-lg-0" id="drawerToggle" href="javascript:void(0);">
          <i class="material-icons">menu</i>
        </button>
        <!-- Navbar brand-->
        <a class="navbar-brand me-auto" href="index.html">
          <div class="text-uppercase font-monospace">Material Admin Pro</div>
        </a>
        <!-- Navbar items-->
        <div class="d-flex align-items-center mx-3 me-lg-0">
          <!-- Navbar-->
          <ul class="navbar-nav d-none d-lg-flex">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://docs.startbootstrap.com/material-admin-pro" target="_blank">Documentation</a>
            </li>
          </ul>
          <!-- Navbar buttons-->
          <div class="d-flex">
            <!-- Messages dropdown-->
            <div class="dropdown dropdown-notifications d-none d-sm-block">
              <button class="btn btn-lg btn-icon dropdown-toggle me-3" id="dropdownMenuMessages" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">mail_outline</i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end me-3 mt-3 py-0 overflow-hidden" aria-labelledby="dropdownMenuMessages">
                <li>
                  <h6 class="dropdown-header bg-primary text-white fw-500 py-3">Messages</h6>
                </li>
                <li>
                  <hr class="dropdown-divider my-0"/>
                </li>
                <li>
                  <a class="dropdown-item unread" href="#!">
                    <div class="dropdown-item-content">
                      <div class="dropdown-item-content-text">
                        <div class="text-truncate d-inline-block" style="max-width: 18rem">Hi there, I had a question about something, is there any way you can help me out?</div>
                      </div>
                      <div class="dropdown-item-content-subtext">Mar 12, 2023 &middot; Juan Babin</div>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider my-0"/>
                </li>
                <li>
                  <a class="dropdown-item" href="#!">
                    <div class="dropdown-item-content">
                      <div class="dropdown-item-content-text">
                        <div class="text-truncate d-inline-block" style="max-width: 18rem">Thanks for the assistance the other day, I wanted to follow up with you just to make sure everyting is settled.</div>
                      </div>
                      <div class="dropdown-item-content-subtext">Mar 10, 2023 &middot; Christine Hendersen</div>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider my-0"/>
                </li>
                <li>
                  <a class="dropdown-item" href="#!">
                    <div class="dropdown-item-content">
                      <div class="dropdown-item-content-text">
                        <div class="text-truncate d-inline-block" style="max-width: 18rem">Welcome to our group! It's good to see new members and I know you will do great!</div>
                      </div>
                      <div class="dropdown-item-content-subtext">Mar 8, 2023 &middot; Celia J. Knight</div>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider my-0"/>
                </li>
                <li>
                  <a class="dropdown-item py-3" href="#!">
                    <div class="d-flex align-items-center w-100 justify-content-end text-primary">
                      <div class="fst-button small">View all</div>
                      <i class="material-icons icon-sm ms-1">chevron_right</i>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Notifications and alerts dropdown-->
            <div class="dropdown dropdown-notifications d-none d-sm-block">
              <button class="btn btn-lg btn-icon dropdown-toggle me-3" id="dropdownMenuNotifications" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">notifications</i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end me-3 mt-3 py-0 overflow-hidden" aria-labelledby="dropdownMenuNotifications">
                <li>
                  <h6 class="dropdown-header bg-primary text-white fw-500 py-3">Alerts</h6>
                </li>
                <li>
                  <hr class="dropdown-divider my-0"/>
                </li>
                <li>
                  <a class="dropdown-item unread" href="#!">
                    <i class="material-icons leading-icon">assessment</i>
                    <div class="dropdown-item-content me-2">
                      <div class="dropdown-item-content-text">Your March performance report is ready to view.</div>
                      <div class="dropdown-item-content-subtext">Mar 12, 2023 &middot; Performance</div>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider my-0"/>
                </li>
                <li>
                  <a class="dropdown-item" href="#!">
                    <i class="material-icons leading-icon">check_circle</i>
                    <div class="dropdown-item-content me-2">
                      <div class="dropdown-item-content-text">Tracking codes successfully updated.</div>
                      <div class="dropdown-item-content-subtext">Mar 12, 2023 &middot; Coverage</div>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider my-0"/>
                </li>
                <li>
                  <a class="dropdown-item" href="#!">
                    <i class="material-icons leading-icon">warning</i>
                    <div class="dropdown-item-content me-2">
                      <div class="dropdown-item-content-text">Tracking codes have changed and require manual action.</div>
                      <div class="dropdown-item-content-subtext">Mar 8, 2023 &middot; Coverage</div>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider my-0"/>
                </li>
                <li>
                  <a class="dropdown-item py-3" href="#!">
                    <div class="d-flex align-items-center w-100 justify-content-end text-primary">
                      <div class="fst-button small">View all</div>
                      <i class="material-icons icon-sm ms-1">chevron_right</i>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
            <!-- User profile dropdown-->
            <div class="dropdown">
              <button class="btn btn-lg btn-icon dropdown-toggle" id="dropdownMenuProfile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">person</i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="dropdownMenuProfile">
                  {% if not user.is_authenticated %}
                    <li>
                      <a class="dropdown-item" href="{% url "common:login" %}">Login</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url "common:register" %}">Register</a>
                    </li>
                  {% else %}
                  <li>
                    <a class="dropdown-item" href="#" id="logout">Logout</a>
                  </li>
              {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Layout wrapper-->
    <div id="layoutDrawer">
      <!-- Layout navigation-->
      <div id="layoutDrawer_nav">
        <!-- Drawer navigation-->
        {% include "sidebar.html" %}
      </div>
      <!-- Layout content-->
      <div id="layoutDrawer_content">
        <!-- Main page content-->
        <main>
          <!-- Main dashboard content-->
          <div class="container-xl p-5">
            <div class="row justify-content-between align-items-center mb-5">
              <div class="col flex-shrink-0 mb-5 mb-md-0">
                <h1 class="display-4 mb-0">종합분석</h1>
                <input type="hidden" name="" value="{{single_product.id}}" id="pid">
                <div class="text-muted">{{single_product.name_kor}}</div>
              </div>
              <div class="col-12 col-md-auto" id="selectParent">
                <div class="d-flex flex-column flex-sm-row gap-3">
                  
                    {% comment %} {% for trade in all_trades %}
                      <mwc-list-item value="" id="mwc2" data-year="{{trade.trade_year}}" selected="selected"></mwc-list-item>
                    {% endfor %} {% endcomment %}

                    <select data-year="{{trade.trade_year}}" class="form-select" aria-label="Default select example" id="select">
                      <option>년도 선택</option>
                      {% for trade in all_trades  %}
                        <option value="" data-year="{{trade.trade_year}}" selected="selected" id="option"></option>   
                      {% endfor %}               
                    </select>
                </div>
              </div>
            </div>
            <!-- Colored status cards-->
            <div class="row gx-5">
              <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-primary text-white">
                  <div class="card-body px-4">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="me-2">
                        <div class="display-5 text-white">101.1K</div>
                        <div class="card-text">Downloads</div>
                      </div>
                      <div class="icon-circle bg-white-50 text-primary">
                        <i class="material-icons">download</i>
                      </div>
                    </div>
                    <div class="card-text">
                      <div class="d-inline-flex align-items-center">
                        <i class="material-icons icon-xs">arrow_upward</i>
                        <div class="caption fw-500 me-2">3%</div>
                        <div class="caption">from last month</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-warning text-white">
                  <div class="card-body px-4">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="me-2">
                        <div class="display-5 text-white">12.2K</div>
                        <div class="card-text">Purchases</div>
                      </div>
                      <div class="icon-circle bg-white-50 text-warning">
                        <i class="material-icons">storefront</i>
                      </div>
                    </div>
                    <div class="card-text">
                      <div class="d-inline-flex align-items-center">
                        <i class="material-icons icon-xs">arrow_upward</i>
                        <div class="caption fw-500 me-2">3%</div>
                        <div class="caption">from last month</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-secondary text-white">
                  <div class="card-body px-4">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="me-2">
                        <div class="display-5 text-white">5.3K</div>
                        <div class="card-text">Customers</div>
                      </div>
                      <div class="icon-circle bg-white-50 text-secondary">
                        <i class="material-icons">people</i>
                      </div>
                    </div>
                    <div class="card-text">
                      <div class="d-inline-flex align-items-center">
                        <i class="material-icons icon-xs">arrow_upward</i>
                        <div class="caption fw-500 me-2">3%</div>
                        <div class="caption">from last month</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xxl-3 col-md-6 mb-5">
                <div class="card card-raised bg-info text-white">
                  <div class="card-body px-4">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <div class="me-2">
                        <div class="display-5 text-white">7</div>
                        <div class="card-text">Channels</div>
                      </div>
                      <div class="icon-circle bg-white-50 text-info">
                        <i class="material-icons">devices</i>
                      </div>
                    </div>
                    <div class="card-text">
                      <div class="d-inline-flex align-items-center">
                        <i class="material-icons icon-xs">arrow_upward</i>
                        <div class="caption fw-500 me-2">3%</div>
                        <div class="caption">from last month</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row gx-5">
              <!-- Revenue breakdown chart example-->
              <div class="col-lg-8 mb-5">
                <div class="card card-raised h-100">
                  <div class="card-header bg-primary text-white px-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="me-4">
                        <img src="{{single_product.img_url}}" class="img-thumbnail" alt="...">                      
                      </div>
                      <div class="text-center w-100">                    
                      <h2 class="text-white">{{single_product.name_kor}}</h2>
                      <h5 class="text-white">{{single_product.model_no}}</h5>
                    </div> 
                    </div>
                  </div>
                  <div class="card-body p-4">
                    <div class="row gx-4">
                      <div class="col-12 col-xxl-2">
                        <div class="d-flex flex-column flex-md-row flex-xxl-column align-items-center align-items-xl-start justify-content-between">
                          <div class="mb-4 text-center text-md-start">
                            <div class="text-xl font-monospace text-muted mb-1">총 판매금액</div>
                            <div class="display-5 fw-500">{{trade.total_sales}}원</div>                            
                          </div>
                          <div class="mb-4 text-center text-md-start">
                            <div class="text-xl font-monospace text-muted mb-1">평균 판매금액</div>
                            <div class="display-5 fw-500">{{trade.average_sales}}원</div>
                            
                          </div>
                          <div class="mb-4 text-center text-md-start">
                            <div class="text-xl font-monospace text-muted mb-1">지난해 대비 판매 증가비율</div>
                            <div class="display-5 fw-500 text-success">119%</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-xxl-10">                       
                          <canvas id="dashboardBarChart"></canvas>                        
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-transparent position-relative ripple-gray">
                    <a class="d-flex align-items-center justify-content-end text-decoration-none stretched-link text-primary" href="#!">
                      <div class="fst-button">Open Report</div>
                      <i class="material-icons icon-sm ms-1">chevron_right</i>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Segments pie chart example-->
              <div class="col-lg-4 mb-5">
                <div class="card card-raised h-100">
                  <div class="card-header bg-primary text-white px-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="me-4">
                        <h2 class="card-title text-white mb-0">사이즈별 총 판매량</h2>                       
                      </div>
                      <div class="dropdown">
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-4">
                    <div class="d-flex h-100 w-100 align-items-center justify-content-center">
                      <div class="w-100" style="max-width: 20rem">
                        <canvas id="myPieChart"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer bg-transparent position-relative ripple-gray">
                    <a class="d-flex align-items-center justify-content-end text-decoration-none stretched-link text-primary" href="#!">
                      <div class="fst-button">Open Report</div>
                      <i class="material-icons icon-sm ms-1">chevron_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row gx-5">
              <!-- Privacy suggestions illustrated card-->
              <div class="col-xl-6 mb-5">
                <div class="card card-raised h-100">
                  <div class="card-body p-4">
                    <div class="d-flex justify-content-between">
                      <div class="me-4">
                        <h2 class="card-title mb-0">Privacy Suggestions</h2>
                        <p class="card-text">Take our privacy checkup to choose which settings are right for you.</p>
                      </div>
                      
                      <img src="{% static "assets/img/illustrations/security.svg" %}" alt="..." style="height: 6rem"/>
                    </div>
                  </div>
                  <div class="card-footer bg-transparent position-relative ripple-gray px-4">
                    <a class="stretched-link text-decoration-none" href="#!">Review suggestions (4)</a>
                  </div>
                </div>
              </div>
              <!-- Account storage illustrated card-->
              <div class="col-xl-6 mb-5">
                <div class="card card-raised h-100">
                  <div class="card-body p-4">
                    <div class="d-flex justify-content-between">
                      <div class="me-4">
                        <h2 class="card-title mb-0">Account Storage</h2>
                        <p class="card-text">Your account storage is shared across all devices.</p>
                        <div class="progress mb-2" style="height: 0.25rem">
                          <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="30"></div>
                        </div>
                        <div class="card-text">10 GB of 30 GB used</div>
                      </div>
                      
                      <img src="{% static "assets/img/illustrations/cloud.svg" %}" alt="..." style="height: 6rem"/>
                    </div>
                  </div>
                  <div class="card-footer bg-transparent position-relative ripple-gray px-4">
                    <a class="stretched-link text-decoration-none" href="#!">Manage storage</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card card-raised">
              <div class="card-header bg-primary text-white px-4">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="me-4">
                    <h2 class="card-title text-white mb-0">상품 목록</h2>
                    <div class="card-subtitle">상세정보</div>
                  </div>
                  
                </div>
              </div>
              <div class="card-body p-4">
                <!-- Simple DataTables example-->
                <table id="datatablesSimple">
                  <thead>
                    <tr>
                      <th>브랜드</th>
                      <th>이름</th>
                      <th>모델번호</th>
                      <th>가격</th>
                      <th>상품 상세페이지</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% comment %} 반복 영역 {% endcomment %}
                    {% for product in product_list %}
                      <tr>
                        <td>{{product.brand}}</td>
                        <td><a href="{% url "kream:detail" product.id trade.trade_year %}">{{product.name_kor}}</a></td>
                        <td>{{product.model_no}}</td>
                        <td>{{product.original_price}}</td>
                        <td><a href="{{product.product_detail_url}}">{{product.product_detail_url}}</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </main>
        <!-- Footer-->
        <!-- Min-height is set inline to match the height of the drawer footer-->
        <footer class="py-4 mt-auto border-top" style="min-height: 74px">
          <div class="container-xl px-5">
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-sm-between small">
              <div class="me-sm-2">Copyright &copy; Your Website 2023</div>
              <div class="d-flex ms-sm-2">
                <a class="text-decoration-none" href="#!">Privacy Policy</a>
                <div class="mx-1">&middot;</div>
                <a class="text-decoration-none" href="#!">Terms &amp; Conditions</a>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <form action="{% url "common:logout" %}" method="post" id="logoutForm">
      {% csrf_token %}
    </form>

    {% for t in all_trades %}
      <input type="hidden" name="" data-year="{{t.trade_year}}" data-month="{{t.trade_month}}" value="{{t.monthly_sales}}" id="monthly_sales">
      <input type="hidden" name="" data-year="{{t.trade_year}}" data-size="{{t.trade_size}}" value="{{t.size_sales}}" id="size_sales">
    {% endfor %}

    <!-- Load Bootstrap JS bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Load global scripts-->
    <script src="{% static "js/material.js" %}"></script>
    <script src="{% static "js/scripts.js" %}"></script>
    <!-- Load Chart.js via CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.2/chart.min.js" crossorigin="anonymous"></script>
    <!-- Load Chart.js customized defaults-->
    <script src="{% static "js/charts/chart-defaults.js" %}"></script>
    <!-- Load chart demos for this page-->
    <script src="{% static "js/charts/demos/chart-pie-demo.js" %}"></script>
    <script src="{% static "js/charts/demos/dashboard-chart-bar-grouped-demo.js" %}"></script>
    <!-- Load Simple DataTables Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>

    <script src="{% static "js/datatables/datatables-simple-demo.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    {% block script %}{% endblock script %}
  </body>
  {% endblock content %}
