{% extends "base.html" %}
{% block content %}
  {% load static %}

  <body class="nav-fixed bg-light">
    <!-- Top app bar navigation menu-->
    {% include "header.html" %}
    <!-- Layout wrapper-->
    <div id="layoutDrawer">
      <!-- Layout navigation-->
      <div id="layoutDrawer_nav">
        <!-- Drawer navigation-->
        {% include "sidebar.html" %}
      </div>
      <!-- Layout content-->
      <div id="layoutDrawer_content">
        <!-- Main page content-->
        <main>

          <div class="container-xl p-5">

            <div class="d-flex justify-content-between align-items-end">
              <h2 class="display-6 mb-0">월별 목록</h2>

            </div>
            <hr class="mt-2 mb-5"/>
            <div class="row gx-5">
              <!-- Projects column-->
              <div class="col-xl-8 col-lg-7 mb-5">
                <div class="card card-raised h-100 overflow-hidden">
                  <div class="card-header bg-primary text-white px-4">
                    <div class="fw-500"></div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-hover mb-0">
                        <tbody class="align-middle">
                          <thead class="text-xs font-monospace">
                            <td class="px-4 py-2 border-bottom-0">연도</td>
                            <td class="px-4 py-2 border-bottom-0">월</td>
                            <td class="px-4 py-2 border-bottom-0 text-end">상세리포트 주소</td>
                          </thead>

                          
                          {% comment %} 반복영역 {% endcomment %}
                          {% for date in dates %}
                            <tr>
                                <td class="px-4 border-top">
                                <div class="d-flex align-items-center">
                                    {{date.trade_year}}
                                </div>
                                </td>
                                <td class="px-4 border-top">{{date.trade_month}}</td>
                                <td class="px-4 border-top text-end">
                                    <a href="{% url "kream:monthlyReport" date.trade_year date.trade_month %}">http://127.0.0.1:8000/kream/monthly/{{date.trade_year}}/{{date.trade_month}}/</a>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mb-4 mt-3">
                    {% if dates.has_previous %}
                      <a class="btn btn-primary text-uppercase" href="?page={{dates.previous_page_number}}">← 이전 </a>
                    {% endif %}
          
                    <a class="btn btn-primary text-uppercase" href="#">{{dates.number}}/{{dates.paginator.num_pages}}</a>
          
                    {% if dates.has_next %}
                      <a class="btn btn-primary text-uppercase" href="?page={{dates.next_page_number}}"> 다음 →</a>
                    {% endif %}
                  </div>
                  
                </div>
              </div>
              <!-- Checklist column-->
              <div class="col-xl-4 col-lg-5 mb-5">
                <div class="card card-raised h-100 overflow-hidden">
                  <div class="card-header bg-primary text-white px-4">
                    <div class="fw-500">체크리스트</div>
                  </div>
                  <div class="card-body p-0">

                    <!-- Clickable checklist-->
                    <ul class="list-group list-group-flush checklist">
                    {% comment %} 반복 영역 {% endcomment %}
                      {% for item in check_list %}
                        <li class="list-group-item list-group-item-action ps-2">
                          <div class="d-flex align-items-center">
                            <mwc-formfield class="pe-none" label="">
                              <mwc-checkbox checked="checked"></mwc-checkbox>
                            </mwc-formfield>
                            <a href="" class="ms-2">{{item.title}}</a>
                          </div>
                        </li> 
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="card-footer bg-transparent position-relative ripple-gray">
                    <a class="d-flex align-items-center justify-content-end text-decoration-none stretched-link text-primary" href="{% url "kream:checkList" %}">
                      <div class="fst-button">체크리스트 전체 목록</div>
                      <i class="material-icons icon-sm ms-1">chevron_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!-- Footer-->
        <!-- Min-height is set inline to match the height of the drawer footer-->
        {% include "footer.html" %}
      </div>
    </div>
    <form action="{% url "common:logout" %}" method="post" id="logoutForm">
      {% csrf_token %}
    </form>
    <!-- Load Bootstrap JS bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Load global scripts-->
    <script type="module" src="{% static "js/material.js" %}"></script>
    <script src="{% static "js/scripts.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <!-- Load Custom Checkbox Script-->
    <script src="{% static "js/widgets/checklist.js" %}"></script>
  </body>
{% endblock content %}
