<nav class="top-app-bar navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid px-4">
    <!-- Drawer toggle button-->
    <button class="btn btn-lg btn-icon order-1 order-lg-0" id="drawerToggle" href="javascript:void(0);">
      <i class="material-icons">menu</i>
    </button>
    <!-- Navbar brand-->
    <a class="navbar-brand me-auto" href="{% url "kream:home" %}">
      <div class="">한정판 거래 온라인 플랫폼 상품 데이터 분석</div>
    </a>
    <!-- Navbar items-->
    <div class="d-flex align-items-center mx-3 me-lg-0">
      <!-- Navbar buttons-->
      <div class="d-flex">

        <!-- User profile dropdown-->
        <div class="dropdown">
          <button class="btn btn-lg btn-icon dropdown-toggle" id="dropdownMenuProfile" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons">person</i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end mt-3" aria-labelledby="dropdownMenuProfile">
            {% if not user.is_authenticated %}
              <li>
                <a class="dropdown-item" href="{% url "common:login" %}">로그인</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url "common:register" %}">회원가입</a>
              </li>
            {% else %}
              <li>
                <a class="dropdown-item" href="#" id="logout">로그아웃</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url "common:password_change" %}" id="logout">비밀번호 변경</a>
              </li>

            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
