{% extends "base.html" %}
{% load static %}
{% block content %}

  <body class="bg-primary">
    <!-- Layout wrapper-->
    <div id="layoutAuthentication">
      <!-- Layout content-->
      <div id="layoutAuthentication_content">
        <!-- Main page content-->
        <main>
          <!-- Main content container-->
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-xxl-4 col-xl-5 col-lg-6 col-md-8">
                <div class="card card-raised shadow-10 mt-5 mt-xl-10 mb-4">
                  <div class="card-body p-5">
                    <!-- Auth header with logo image-->
                    <div class="text-center">
                      <img class="mb-3" src="{% static "assets/img/icons/background.svg" %}" alt="..." style="height: 48px"/>
                      <h1 class="display-5 mb-4">비밀번호 변경</h1>
                    </div>
                    <!-- Reset password submission form-->
                    <form action="" method="post">
                      {% csrf_token %}
                      {% for field in form %}
                        <div class="form-group mb-2">
                          <label for="{{field.id_for_label}}">{{field.label}}</label>
                          <input type="{{field.widget_type}}" name="{{field.name}}" id="{{field.id_for_label}}" class="form-control">
                          <span class="help-text text-danger small">{{field.help_text}}</span>
                        </div>
                      {% endfor %}
                      <div class="form-group">
                        <button class="btn btn-primary">비밀번호 변경</button>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- Auth card message-->
                <div class="text-center mb-5">
                  <a class=" fw-500 text-decoration-none link-white" href="{% url "common:password_reset" %}">비밀번호를 잊으셨나요?</a>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <!-- Layout footer-->
      <div id="layoutAuthentication_footer">
        <!-- Auth footer-->
        <footer class="p-4">
          <div class="d-flex flex-column flex-sm-row align-items-center justify-content-between small">
            <div class="me-sm-3 mb-2 mb-sm-0">
              <div class="fw-500 text-white">Copyright &copy; Your Website 2023</div>
            </div>
            <div class="ms-sm-3">
              <a class="fw-500 text-decoration-none link-white" href="#!">Privacy</a>
              <a class="fw-500 text-decoration-none link-white mx-4" href="#!">Terms</a>
              <a class="fw-500 text-decoration-none link-white" href="#!">Help</a>
            </div>
          </div>
        </footer>
      </div>
    </div>

  </body>

{% endblock content %}